#event {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.eventsBgImg {
  background: url('./images/eventsBg.jpg') center/cover no-repeat;
}

#articleEvents {
  position: relative;
  width: var(--width-standard);
  top: 50svh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background-color: var(--color-bg);
  z-index: 1;
}
#articleEvents h2 {
  width: 100%;
  border-bottom: 1px solid var(--color-separator);
  padding-bottom: 20px;
  font-size: clamp(1rem, 3vw, var(--font-size-lg));
}

#filterBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-separator);
  padding-bottom: 30px;
}

#filterBox div h5 {
  color: var(--color-text-muted);
  font-weight: 500;
}

#filterLocationDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  margin-top: 0;
}

#eventsDiv {
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 470px) {
  #eventsDiv {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
